* {
    box-sizing: border-box;
}
body {
    background-color: rgb(224, 233, 224);
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
}
.navbar {
    overflow: hidden;
    background-color: #19592a;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
}
.navbar a {
    color: #faf2e3;
    display: block;
    text-align: center;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}
.navbar a:link {
    color: #faf2e3;
}
.navbar a:hover {
    background-color: #2da64d;
    color: #262523;
    box-shadow: 0 0 5px 3px #2da64d;
}
.navbar a.active {
    background-color: #10381a;
    box-shadow: 0 0 5px 3px #10381a;
}
.navbar a.active:hover {
    background-color: #2da64d;
    color: #262523;
    box-shadow: 0 0 5px 3px #2da64d;
}
p {
    line-height: calc(1rem + .5rem);
}
br {
    display: inline-block;
    content: " ";
    margin-top: 50px;
}
a:link {
    color: #2da64d;
}
a:active {
    color: #195a2a;
}
.header {
    display: block;
    height: 300px;
    background-color: #c9c7c353;
    /* padding-top: 50px; */
    margin: 0;
    overflow: hidden;
}
.header h1 {
    z-index: 5;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    margin-bottom: 0;
}
.header h2 {
    z-index: 5;
    font-size: 25px;
    color: rgb(106, 128, 106);
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    margin-top: 0;
}
.content {
    margin: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
#homehdr {
    color: rgb(79, 157, 0);
    background-image: url("/images/homehdr.jpeg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#midhdr {
    color: rgb(79, 157, 0);
    background-image: url("/images/protest.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#counthdr {
    color: rgb(30, 61, 0);
    background-image: url("/images/pollution1.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#yhdr {
    color: rgb(79, 157, 0);
    background-image: url("/images/cityscape.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#sectorhdr {
    color: rgb(30, 61, 0);
    background-image: url("/images/pollution2.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#sectorhdr h2 {
    color: rgb(56, 68, 56);
}
.tint {
    display: block;
    z-index: 1;
    margin-top: -200px;
    height: 500px;;
    width: 100%;
    overflow: hidden;
    background: rgba(32, 49, 20, 0.8);
}
.chart {
    flex: 2;
    display: inline-block;
    width: 500px;
    height: 100%;
    justify-self: right;
    /* float: left; */
}
.chart p {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
.column {
    display: flex;
    column-count: 3;
    column-gap: 10px;
}
.column p {
    flex: 1;
}
sub {
    margin: 0;
    padding: 0;
    line-height: 0;
}